@import '../../assets/scss/index.scss';

.top-navbar {
  background-color: $bg-color-form;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 50px;
  padding: 20px 0 30px;
  width: 100%;

  // theme switcher
  position: relative;

  @include tablet {
    gap: 20px;
    height: 120px;
    align-items: center;
  }
}
