@import '../../assets/scss/index.scss';

.top-navbar {
  background-color: $bg-color-form;
  border: 1px solid $border-color-smooth;
  border-radius: $border-radius-very-small;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 50px;
  padding: 20px;

  // theme switcher
  position: relative;

  &__widgets {
    display: flex;
    align-items: center;
    gap: 10px;
    // flex-direction: column;
    // align-items: flex-end;
    // justify-content: ;
  }
}
