@import "./_variables.scss";

.btn {
  height: 30px;
  width: max-content;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  text-transform: capitalize;
  transition: $transition-quick;

  &:hover {
    cursor: pointer;
  }

  &--send {
    background-color: transparent;
    border: 2px solid;
    border-radius: $border-radius-very-small;
    color: $txt-color-btn-send;
    font-weight: 600;
    text-transform: uppercase;
    width: 100px;

    &:hover {
      background-color: $txt-color-btn-send;
      color: $bg-color-form;
      text-decoration: underline;
    }
  }
}