@import './_variables.scss';

.btn {
  font-weight: 700;
  height: 30px;
  width: max-content;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  text-transform: uppercase;
  transition: $transition-quick;

  &:hover {
    cursor: pointer;
  }

  &--share {
    background-color: $bg-color-btn-share;
    border: 1px solid $bg-color-btn-share;
    border-radius: $border-radius-very-small;
    color: $txt-color-btn-share;
    width: 80px;

    &:hover {
      // background-color: $txt-color-btn-share;
      background-color: $bg-color-btn-share-hover;
      // color: $bg-color-btn-share;
      text-decoration: underline;
    }
  }

  &--archive {
    background-color: $bg-color-btn-archive;
    border: 1px solid $txt-color-btn-archive;
    border-radius: $border-radius-very-small;
    color: $txt-color-btn-archive;

    &:hover {
      background-color: $txt-color-btn-archive;
      color: $bg-color-btn-archive;
      text-decoration: underline;
    }
  }
}
