@import './_themes.scss';

$bg-color-body: var(--bg-color-primary);
$bg-color-form: var(--bg-color-form);
$bg-color-error: var(--bg-color-error);

$bg-color-btn-share: var(--bg-color-btn-share);
$bg-color-btn-share-hover: var(--bg-color-btn-share-hover);
$bg-color-btn-archive: var(--bg-color-btn-archive);

$border-color-smooth: var(--border-color-smooth);
$border-radius-very-small: 3px;
$border-radius-small: 7px;

$transition-normal: 1s;
$transition-kinda-quick: 0.5s;
$transition-quick: 0.3s;

$txt-color: var(--txt-primary-color);
$txt-color-error: var(--txt-color-error);
$txt-color-btn-archive: var(--txt-color-btn-archive);
$txt-color-btn-share: var(--txt-color-btn-share);

@mixin tablet {
  @media only screen and (min-width: 568px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1080px) {
    @content;
  }
}
