@import '_animations.scss';
@import '_buttons.scss';
@import '_fonts.scss';
@import '_themes.scss';
@import '_variables.scss';

* {
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: $bg-color-body;
}

#app {
  color: $txt-color;
  min-height: 100vh;
  text-align: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0px auto;
  width: 95vw;
}

.card-title {
  margin: 20px auto;
  text-transform: uppercase;
}
