@import '../../assets/scss/index.scss';

.property-not-found {
  &__msg {
    background-color: $bg-color-error;
    border: 1px solid;
    border-radius: $border-radius-small;
    color: $txt-color-error;
    padding: 10px;
  }
}

.properties-list {
  margin: 0 auto;
  width: 100%;
}

.property {
  border: 1px solid $border-color-smooth;
  display: flex;
  align-items: center;
  margin-bottom: 21px;
  width: 100%;

  &__img {
    height: 150px;
    width: 250px;
    margin-right: 21px;
  }

  &__details {
    &__location {
      margin-bottom: 21px;
      text-align: left;

      &--address {
        margin-bottom: 10px;
      }
    }

    &__actions {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
