@import '../../assets/scss/index.scss';

.table {
  border: 1px solid;
  color: $txt-color;
  font-size: 11px;
  width: min(95%, 380px);
  margin: 0 auto 50px;
  padding: 10px;
  text-transform: capitalize;

  &,
  &-head__txt,
  td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
  }

  &-head__txt {
    padding: 5px;
    text-align: left;

    &--participation {
      text-align: center;
    }
  }

  &-data {
    padding: 2px 5px;

    &--name,
    &--last-name {
      padding: 0 5px;
      text-align: left;
    }

    &--cont,
    &--participation {
      text-align: center;
    }

    &--remove {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 !important;
      &:hover {
        cursor: pointer;
      }

      svg {
        transform: scale(0.6);

        path {
          fill: $bg-color-error;
        }
      }
    }
  }
}