@import '../../assets/scss/index.scss';

.new-member-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  justify-content: center;
  position: relative;

  bottom: 0;


  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.first-name-input,
.last-name-input,
.participation-input {
  border: 0px;
  border-radius: 5px;
  height: 40px;
  max-width: 350px;
  margin: 5px;
  padding: 10px;
}

.btn--send {
  height: 40px;
  margin: 5px;
}

.disabled {
  opacity: 85%;
  pointer-events: none;
}

.error-msg {
  background-color: $bg-color-error;
  border-radius: $border-radius-small;
  padding: 10px;
  position: absolute;
  top: 140px;
  width: min(70%, 500px);
}
