@import '../../assets/scss/index.scss';

.add-data-msg {
  margin-top: 80px;
}

.members-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, .8fr);
    gap: 30px;
  }

  @include desktop {
    width: 70%;
  }

  &__about {
    margin-bottom: 40px;

    @include tablet {
      grid-column: 1 / span all;
    }
  }
}