@import '../../assets/scss/index.scss';

.switch-checkbox {
  display: none;
}

.switch-label {
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--accent-color);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  height: 10px;
  width: 50px;
  padding: 10px;
  position: absolute;
  bottom: 45px;
  right: 100px;
  transition: background $transition-kinda-quick ease;
  z-index: 1;

  @include tablet {
    position: relative;
    bottom: 0px;
    right: 0px;
    margin-right: 20px;
  }
}

.icons {
  position: relative;

  &__sun {
    position: absolute;
    top: -12px;
    left: -12px;
    transform: scale(0.9);
  }

  &__moon {
    position: absolute;
    top: -12px;
    left: 16px;
    transform: scale(0.75);
  }

  &__switch-toggle {
    background-color: var(--bg-color-primary);
    border-radius: 50%;
    top: -10px;
    left: 18px;
    height: 20px;
    width: 20px;
    position: absolute;

    transform: translateX(0);
    transition: transform $transition-quick ease,
      background-color $transition-kinda-quick ease;
  }
  &__switch-toggle-checked {
    transform: translateX(-28px) !important;
  }
}
